<link href="../pages/css/user-pages.css" rel="stylesheet" />
<!--<link href="../assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" />-->
<div class="container-fluid padding-25 sm-padding-10 sm-gutter">
    <!-- START ROW -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xlg-2 ">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET -->
                    <div class="widget-9 panel no-border widget-6 no-margin widget-loader-bar right_icon_sect" pg-portlet progress="bar" on-refresh="refreshTest('.widget-9')">
                        <i class="fa fa-spoon right_icon"></i>
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading  top-left top-right">
                                        <div class="panel-title text-black">
                                            <span class="font-montserrat fs-14 all-caps">
                                                Total Lunches
                                                <i class="fa fa-chevron-right"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="p-l-20 p-t-20">
                                        <h3 class="no-margin p-b-5 text-white">46</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xlg-2 ">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET -->
                    <div class="widget-8 panel no-border bg-success no-margin widget-loader-bar right_icon_sect" pg-portlet progress="bar" on-refresh="refreshTest('.widget-8')">
                        <i class="fa fa-users right_icon"></i>
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading top-left top-right">
                                        <div class="panel-title text-black hint-text">
                                            <span class="font-montserrat fs-14 all-caps">
                                                Total New People Meet
                                                <i class="fa fa-chevron-right"></i>
                                            </span>
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li>
                                                    <a data-toggle="refresh" class="portlet-refresh text-black" ng-click="refresh()">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height ">
                                <div class="col-xs-height col-top relative">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="p-l-20">
                                                <div class="clearfix"></div>
                                                <h3 class="no-margin p-b-5 text-white">43</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xlg-2 ">
            <div class="row">
                <div class="col-md-12 m-b-10">
                    <!-- START WIDGET -->
                    <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar right_icon_sect" pg-portlet progress="bar" on-refresh="refreshTest('.widget-9')">
                        <i class="fa fa-slideshare right_icon"></i>
                        <div class="container-xs-height full-height">
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="panel-heading  top-left top-right">
                                        <div class="panel-title text-black">
                                            <span class="font-montserrat fs-14 all-caps">
                                                degree of connectedness
                                                <i class="fa fa-chevron-right"></i>
                                            </span>
                                        </div>
                                        <div class="panel-controls">
                                            <ul>
                                                <li>
                                                    <a ng-click="refresh()" class="portlet-refresh text-black" data-toggle="refresh">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-xs-height">
                                <div class="col-xs-height col-top">
                                    <div class="p-l-20 p-t-20">
                                        <h3 class="no-margin p-b-5 text-white">0.34</h3>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END WIDGET -->
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 hidden-xlg m-b-10 m-t-40">
            <!-- START WIDGET -->

            <div class="padding-10">
                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="togglesec">
                <h3> OPT IN TODAY </h3>
                <label class="switch">
                    <input type="checkbox" checked>
                    <div class="slider round"></div>
                </label>
            </div>

            <!-- END WIDGET -->
        </div>
        <div class="clearfix"></div>
        <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" pg-portlet progress="circle" on-refresh="refreshTest('.widget-11-2')">
            <div class="panel-heading top-right">
                <div class="panel-controls">
                    <ul>
                        <li>
                            <a data-toggle="refresh" class="portlet-refresh text-black" ng-click="refresh()">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="padding-10">
                <hr />
                <div class="clearfix"></div>
            </div>
            <div class="panel-body ">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h2 class="text-success no-margin heading_1">You've been  Lunched !</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body panelsec">
                        <div class="panel panel-default">
                            <div class="panel-heading text-right">
                                <h3 class="panel-title ">who</h3>
                            </div>
                            <div class="panel-body">


                                <div class="personsec">
                                    <div class="alert alert-info" role="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        <img width="38" height="38" src="assets/img/profiles/avatar.jpg" class="img-circle">
                                        <div class="personsec-cont">
                                            <strong>John Doe </strong><br>
                                            Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                    <div class="alert alert-info" role="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        <img width="38" height="38" src="assets/img/profiles/avatar.jpg" class="img-circle">
                                        <div class="personsec-cont">
                                            <strong>John Doe </strong><br>
                                            Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                    <div class="alert alert-info" role="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        <img width="38" height="38" src="assets/img/profiles/avatar.jpg" class="img-circle">
                                        <div class="personsec-cont">
                                            <strong>John Doe </strong><br>
                                            Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                    <div class="alert alert-info" role="alert">
                                        <button class="close" data-dismiss="alert"></button>
                                        <img width="38" height="38" src="assets/img/profiles/avatar.jpg" class="img-circle">
                                        <div class="personsec-cont">
                                            <strong>John Doe </strong><br>
                                            Lorem ipsum dolor sit amet
                                        </div>
                                    </div>
                                </div>








                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading text-right">
                                <h3 class="panel-title ">Where</h3>
                            </div>
                            <div class="panel-body">
                                <h3>
                                    <a href="#">Harry's at Ahenton Way</a>
                                </h3>
                                <p>
                                    Western .ITALIAN .AMERICAN .MEXICAN .VERETERIAN .HALAL<br />
                                    #01-15/18/23, AXA Tower, 8 Shenton way, 068811<br />
                                </p>
                                <p>
                                    <a href="#">How to get there ?</a>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading text-right">
                                <h3 class="panel-title ">WHEN</h3>
                            </div>
                            <div class="panel-body">
                                <p>Monday, 30 Apr 2016, 1:00pm - 2:00pm</p>
                                <p>
                                    <a href="#">Add to Calendar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-10">
                <hr />
                <div class="clearfix"></div>
            </div>

            <!--<div class="panel-body">
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title">
                    <h2 class="text-success no-margin heading_1">You've been  Lunched !</h2>
                  </div>
                  <div class="export-options-container pull-right"></div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <table class="table table-striped" id="tableWithExportOptions"  ui-options="options">
                    <thead>
                      <tr>
                        <th>Who</th>
                        <th class="text-left">Where</th>
                        <th class="text-left">When</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="">
                        <td class="v-align-middle"><p>User Name </p></td>
                        <td class="v-align-middle text-left"><p> ABC Restaurant</p></td>
                        <td class="v-align-middle text-left"><p> 21 Mar 2016 - 13:45 </p></td>
                      </tr>
                      <tr class="">
                        <td class="v-align-middle"><p>User Name </p></td>
                        <td class="v-align-middle text-left"><p> ABC Restaurant</p></td>
                        <td class="v-align-middle text-left"><p> 21 Mar 2016 - 13:45 </p></td>
                      </tr>
                      <tr class="">
                        <td class="v-align-middle"><p>User Name </p></td>
                        <td class="v-align-middle text-left"><p> ABC Restaurant</p></td>
                        <td class="v-align-middle text-left"><p> 21 Mar 2016 - 13:45 </p></td>
                      </tr>
                      <tr class="">
                        <td class="v-align-middle"><p>User Name </p></td>
                        <td class="v-align-middle text-left"><p> ABC Restaurant</p></td>
                        <td class="v-align-middle text-left"><p> 21 Mar 2016 - 13:45 </p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="padding-10">
              <hr />
              <div class="clearfix"></div>
            </div>
             -->

            <div class="panel-body">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h2 class="text-success no-margin heading_1">Your Lunch History</h2>
                        </div>
                        <div class="export-options-container pull-right"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body usertable">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tableWithExportOptions" ui-jq="dataTable" ui-options="options">
                                <thead>
                                    <tr>
                                        <th width="130">Date</th>
                                        <th class="text-left">People</th>
                                        <th class="text-left">Restaurant</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="">
                                        <td class="v-align-middle"><p>21 Mar 2016 </p></td>
                                        <td class="v-align-middle text-left">
                                            <div class="personsec">
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="v-align-middle text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, solet <br />
                                                animal  vix ad,  scribentur theophrastus.
                                            </p>
                                        </td>

                                    </tr>




                                    <tr class="">
                                        <td class="v-align-middle"><p>21 Mar 2016 </p></td>

                                        <td class="v-align-middle text-left">
                                            <div class="personsec">
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>

                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>

                                            </div>
                                        </td>


                                        <td class="v-align-middle text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, solet <br />
                                                animal  vix ad,  scribentur theophrastus.

                                                <div class="res-rating">
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="v-align-middle"><p>21 Mar 2016 </p></td>
                                        <td class="v-align-middle text-left">
                                            <div class="personsec">
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>


                                            </div>
                                        </td>
                                        <td class="v-align-middle text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, solet <br />
                                                animal  vix ad,  scribentur theophrastus.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="v-align-middle"><p>21 Mar 2016 </p></td>


                                        <td class="v-align-middle text-left">
                                            <div class="personsec">
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>
                                                <div role="alert" class="alert alert-info">
                                                    <button data-dismiss="alert" class="close"></button>
                                                    <img width="38" height="38" class="img-circle" src="assets/img/profiles/avatar.jpg">
                                                    <div class="personsec-cont">
                                                        <strong>John Doe </strong><br />
                                                        Lorem ipsum dolor sit amet
                                                    </div>
                                                </div>


                                            </div>
                                        </td>


                                        <td class="v-align-middle text-left">
                                            <p>
                                                Lorem ipsum dolor sit amet, solet <br />
                                                animal  vix ad,  scribentur theophrastus.

                                                <div class="res-rating">
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="yellow">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
